@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: 'Source Sans Pro', sans-serif;
  color : white;
  margin:0;
}